<html>
    <head>
        <title></title>
    </head>
    <body>
        <center>
        <h1>
            about lucknow
        </h1>
        <img src="download.jpg" alt="image not found" height="200" width="400">
        <p>The Nawabs of Lucknow, in reality, the Nawabs of Awadh, acquired the name after the reign of the third Nawab when Lucknow became their capital. The city became North India's cultural capital, and its nawabs, best remembered for their refined and extravagant lifestyles, were patrons of the arts.

        </p>
    </center>
    </body>
</html>